*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
 
}
:root{
  font-size: 20px;
}
header{
  width: 100%;
  position: sticky;
  top: 0;
  padding: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #10161e;
}
header ul li ul{
  list-style: none;
  position: fixed;
  background-color: #060f19;
  top: 4rem;
  right: -23rem;
  width: 13rem;
  height: 15rem;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
 
 transition-property: all ;
 transition-duration: 500ms;
 transition-timing-function: linear;
  
}
header ul li ul li button{
background-color: transparent;
justify-content: center;
align-items: center;
border: none;
color: white;
font-size: 0.9rem;
display: flex;
gap: 1rem;
  
}
header ul li ul li:first-of-type button{
width: 100%;
height: 1.8rem;
background-color: rgb(242, 242, 247);
border: none;
color: black;
border-radius: 0.7rem;
text-align: center;
font-size: 0.8rem;
align-self: flex-start;
}
.fa-angle-down{
  color: white;
  background-color: transparent;
  transform: translatey(0.1rem);
}
.fa-angle-down:hover{
  transform: translatey(0.3rem);

}
header div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  background-color: transparent;
}
header input{
  width: 20rem;
  height: 2rem;
  padding:1rem;
  outline: none;
  color: white;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 0.04rem solid rgb(245, 239, 239);
}
header ul:first-of-type{
  display: flex;
  gap: 0.5rem;
  list-style: none;
  background-color: transparent;
}
header ul:first-of-type li{
  display: flex;
  background-color: transparent;
  gap: 0.5rem;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}
header ul:first-of-type li:last-of-type:hover > ul{
  transform: translatey(0.2rem);
  top: 4rem;
  right: 0.4rem;

}
.section_1{
  display: flex;
  background-color: #151e28;
  border-bottom-left-radius: 7rem;
  border-bottom-right-radius: 7rem;
  padding: 3rem;
  flex-wrap: wrap;
  justify-content: space-between;
  
  
}
.section_1 div{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
 width: 40%;
  
}
.section_1 div div{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.section_1 div div h1{
font-size: 3.5rem;

color: white;
}
.section_1 div h3{
font-size: 1rem;
color: white;
}
.section_1 div button:first-of-type{
  font-size: 1rem;
  padding: 0.2rem;
display: flex;
justify-content: center;
align-items: center;
width: 24rem;
height: 2.3rem;
border-radius: 0.5rem;
border: none;
background-color: #10161e;
color: white;
}
.section_1 div button:last-of-type{
width: 7rem;
height: 2rem;
display: flex;
justify-content: center;
align-items: center;
border-radius: 0.5rem;
border: none;
font-size:0.8rem ;
font-weight: bold;

}
.section_1 img{
  width: 45vw;
  margin: 1rem;
}


.section-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  padding: 5rem;
  flex-wrap: wrap;
}
.section-2 div:first-of-type{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.section-2 div:first-of-type h3{
  font-size: 0.8rem;
}
.section-2 div:first-of-type h1{
  font-size: 2.5rem;
}
.section-2 div:last-of-type{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 9rem;
}

.section-2 div:last-of-type div{
  width: 10rem;
  display: flex;
background-color: white;
align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
}
.section-2 div:last-of-type div p{
  font-size: 0.7rem;
}
.section-2 div:last-of-type div button{
  width: 3rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: white;
  border:0.1rem solid  ;
}

.section-3-main{
  
  background-color: #f2f4f8;
  padding: 1rem;
  border-radius: 5rem;
}
.section-3{
  padding: 3rem;
  display: flex;
  gap: 9rem;
 

}
.section-3-first{
  display: flex;
  width: 20rem;
  flex-direction: column;
  gap: 3rem;
}
.section-3-first p:first-of-type {
  font-size: 0.8rem;
  color: cadetblue;
  font-weight: 600;

}
.section-3-first p:last-of-type{
  font-size: 0.8rem;
}
.section-3-first button{
  height:2.3rem;
  width: 15rem;
  border-radius: 0.5rem;
  background-color: #10161e;
}
.section-3-first h1{
  font-size: 2rem;
}
.section-3-images{
  height: 580px;
  overflow: auto;
}
/* .section-3-images div{
  position: sticky;
  top: 1rem;
} */
hr{
  color:#dbdfe8 ;
  font-weight: bold;
}
.section-3-second{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  gap: 3rem;
  background-color: #f2f4f8;
}
.section-3-second div:first-of-type{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  

}
.section-3-second div:first-of-type h3{
  font-size: 0.8rem;
color:#506af0;
}
.section-3-second div:first-of-type h1{
  font-size: 2.7rem;
  color: black;
}
.section-3-cards{
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.section-3-card{
  width: 18rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  border-radius: 1.4rem;
  padding: 2rem;
  border: none;
  box-shadow: 0 0 0.5rem 0.01rem rgba(0, 0, 0, 0.175) inset;
transition-property: all;
transition-duration: 0.2s;

}
.section-3-card:hover{
transform: translatey(-0.2rem);
box-shadow: 0 0 0.7rem 0.1rem rgba(0, 0, 0, 0.146);
}
.section-3-card:nth-of-type(3) button:first-of-type{
color: orange;

}
.section-3-card:nth-of-type(4) button:first-of-type{
  color: orange;
  
  }
  .section-3-card:nth-of-type(5) button:first-of-type{
    color: orange;
    
    }

.section-3-card p{
  font-size:0.8rem;
}

.section-3-card div{
  display: flex ;
  justify-content: space-between;
 
}
.section-3-card:hover button:last-of-type{
  background-color: #060f19;
  color: white;
  border: none;

}
.section-3-card div button:first-of-type{
  background-color: #f9f3fd;
  color: #d3a7ef;
  padding: 0.5rem;
  text-align: center;
  border-radius: 1rem;
  border: none;

}

.section-3-card div button:last-of-type{
  width: 2.8rem;
  border-radius: 0.7rem;
  border: 0.06rem solid ;
  background-color: transparent;
}

.section-3-card-last{
 justify-content: space-between;
}
.section-3-card-last div:last-of-type{
  display: flex;
  width: 100%;

  
}
.section-3-cards-second{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 3rem;
  padding-bottom: 5rem;
}
.section-3-cards-second div{
  display: flex;
  width: 15rem;
  flex-direction: column;
padding: 0.2rem;
gap: 1rem;
justify-content: center;
}

.section-3-cards-second div img{
margin: 0.1rem;
}
.section-3-cards-second div div h4{
  font-size: 1.2rem;
}
.section-3-cards-second div div p{
  font-size: 0.8rem;
}
.section-3-last{
 display: flex;
 justify-content: space-between;
/* align-items: center; */
margin-top: 6rem;
 padding: 2rem;
 
}
.section-3-last div:first-of-type{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 40%;
}
.section-3-last div:first-of-type h4{
  font-size: 0.8rem;
  color: #c3a082;

}
.section-3-last div:first-of-type h1{
  font-size: 2.3rem;
}

.section-3-last div:first-of-type p{
  font-size: 0.9rem;
}
.section-3-last div:first-of-type button{
  width: 13rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  padding: 1.2rem;
  background-color: #060f19;
  color: white;border-radius: 1rem;
  border: none;
}
.section-3-last div:last-of-type{
  width: 40%;
  
}
.section-3-last div:last-of-type img{
  width: 100%;
  border-radius: 50%;

}
.section-4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  gap: 1rem;
  padding: 4rem;
  
}
.section-4 div:first-of-type{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.section-4 div:first-of-type h1{
  font-size: 3rem;
}
.section-4 div:first-of-type p{
  font-size: 0.8rem;
}
.section-4 div{
  display: flex;
  padding: 1rem;
  width: 100%;


}
.section-4 div img{
  width: 80%;
}
.section-4 div:nth-of-type(2){
background-color: #e2f5ff;
padding: 2rem;
border-radius: 2rem;
padding-top:5rem ;
}
.section-4 div:nth-of-type(3){
  background-color: #fff6e9;
  padding: 3rem;
  border-radius: 2rem;
  padding-top:7rem ;
}

.section-4 div div:first-of-type{
  align-items: flex-start;

}



.section-4-last{
  flex-direction: column;
  background-color: #060f19;
  color: white;
  border-radius: 2rem;
  width: 100%;
  padding: 2rem;
  
}
.section-4-last div{
  padding:2rem;

}
.section-4-last img{
padding: 1rem;
  width: 50%;
}

.section-4-second{
  display: flex;
  padding: 3rem;
  gap: 2rem;
}
.section-4-second div{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 0.01rem solid #f1f4f8 ;
  border-radius:2.4rem;
  padding: 1rem;
}
.section-4-second div img{
  width: 10rem;
  border: none;
}
.section-4-second div div{
  border: none;
}
.section-4-second div div:last-of-type{
  gap: 1rem;
  background-color: transparent;

}
.section-4-second div button{
  width: 75%;
  padding: 1.2rem;
  border: none;
  font-size: 0.8rem;
  border-radius: 1rem;
  height: 1.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.7rem;
  background-color: #f2f9fe;
  align-self: center;
}
.section-4-second div:last-of-type button{
  background-color:#060f19;
  color: white;
}
.section-4-second div:last-of-type{
  background-color: #eae9ff;
}
.section-4-lastsection{
  display: flex;
  margin: 2rem;
  gap: 7rem;
  padding: 2rem;
  padding-bottom: 7rem;
}
.section-4-lastsection div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.9rem;

}
.section-4-lastsection div div{
  gap: 1rem;
}
.section-4-lastsection div div:first-of-type h4{
  color: orange;
  font-size: 0.9rem;

}
.section-4-lastsection div div:last-of-type{
  line-height: 1rem;
  font-size: 0.8rem;
}
.section-4-lastsection div img{
  width: 100%;
}
.section-4-lastsection div div h1{
  font-size:2.7rem ;
}
.section-4-lastsection div div p{
  font-size: 0.9rem;
}
.section-4-lastsection div button{
  align-self: flex-start;
  width: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  border-radius: 1rem;
  border: none;
  background-color: #060f19;
  color: white;
  font-size: 0.8rem;
  gap: 1rem;
}



.footer{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #060f19;
  border-top-right-radius: 4rem;
  border-top-left-radius: 4rem;
  color: white;
}
.footer-first-part{
  display: flex;
  gap: 10rem;
  padding: 2rem;
}
.footer-first-part div:first-of-type{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 25rem;
  padding: 1rem;

}
.footer-first-part div img{
  width: 100%;
}
.footer-first-part div:first-of-type h1{
  font-size: 3rem;
}
.footer-first-part div:first-of-type h4{
  font-size: 0.9rem;
}
.footer-first-part div:first-of-type p{
  font-size: 0.8rem;
}
.footer-first-part div:first-of-type div:last-of-type{
  display: flex;
  gap: 2rem;
}
.footer-first-part div:first-of-type div:last-of-type button{
  width: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  height: 2.3rem;
  border-radius: 0.7rem;
  font-weight: bold;
}
.footer-first-part div:first-of-type div:last-of-type button img{
  width: 1.2rem;
}

.footer-second-part{
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  
  gap: 1rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.footer-second-part div{
  width: 18rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  font-size: 0.76rem;
  color: #d1d5db;
}
.footer-second-part div img{
  width: 10rem;
}
.footer-second-part ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 0.9rem;
}
.footer-second-part ul li{
  color: #d1d5db;
  font-size: 0.8rem;
}
.footer-second-part ul li:hover{
  color: white;
}
.footer-last-part{
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  margin-top:1rem ;
}
.footer-last-part div:first-of-type{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-last-part div:first-of-type div{
  flex-direction: row;
}
.footer-last-part div:nth-of-type(2){
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-last-part div:last-of-type{
  display: flex;
  gap: 1rem;
  
}
.footer-last-part div:last-of-type button{
  width: 20rem;
  height: 1.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
border-radius: 0.5rem;
border: none;
font-size: 0.76rem;
color: white;
background-color: #151e28;
}

.section-5{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
  border-top-right-radius: 4rem;
  border-top-left-radius: 4rem;
  background-color: #d1d5db;
  padding-bottom: 8rem;

}
.section-5-first{
  width: 100%;
  height: 300px;
   display: flex;
    align-items: center;
   justify-content: space-evenly;
   background-color: #e2f5ff;
   border-top-right-radius: 4rem;
   border-top-left-radius: 4rem;
   padding: 2rem;
   
}
.section-5-first div{
  width: 20%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

}
.section-5-first div:first-of-type{
  width: 30%;
  height: 70%;
}
.section-5-first div h1{
  font-size:3rem ;
  align-self: center;
}
.section-5-last{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  position: relative;
  
  
}
.section-5-last button{
  width: 14rem;
  height: 2rem;
  background-color: #10161e;
  border-radius: 0.6rem;
  border: none;
  color: white;
  font-size: 0.8rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 38rem;
  

}
.section-5-last-heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  background-color: transparent;

}
.section-5-last-heading h4{
  font-size: 0.6rem;
  color: blue;
}
.section-5-last-heading h2{
font-size: 2.5rem;
}
.section-5-last-heading p{
  font-size: 0.7rem;
}


.animation-div{
  display: flex;
  width: 80%;
  height: 700px;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  box-shadow: 0 0 3rem 4rem rgba(255, 255, 255, 0.777) inset;
}
.animation-div div{
  width: 30%;
  background-size: cover;
  box-shadow: 0 0 1rem 1rem white inset;
animation-direction: alternate-reverse;
background-repeat: repeat-y;
}
.animation-div div:nth-of-type(1){
  animation-name: social1;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  animation-duration: 2s;
  animation-delay: 0s;

}
.animation-div div:nth-of-type(2){
  animation-name: social1;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-delay: 0s;
  
}
.animation-div div:nth-of-type(3){
  animation-name: social1;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-delay: 0s;
  
}
@keyframes social1 {
  from{
   background-image: url("https://assets.tickertape.in/images/landing-page/social_desktop_card2.webp");
  }to{
   background-image: url("https://assets.tickertape.in/images/landing-page/social_desktop_card3.webp");
  }
  
}
@media screen and (min-width:320px) and (max-width:820px) {
  header input{
    display: none;
  }
  header ul:first-of-type{
    display: none;
  }
  .section_1{
    background-color: #151e28;
    border-bottom-left-radius: 7rem;
    border-bottom-right-radius: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 6rem;
    
    
  }
  .section_1 div{
    padding: 0.01rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
   width: 100%;
    
  }
  .section_1 div div{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 100%;
    padding: 1rem;
    
  }
  .section_1 div div h1{
  font-size: 2rem;
  align-self: flex-start;
  
  color: white;
  }
  .section_1 div h3{
  font-size: 1rem;
  color: white;
  }
  .section_1 div button:first-of-type{
    font-size: 1rem;
    padding: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #10161e;
  color: white;
  }
  .section_1 div button:last-of-type{
  width: 7rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: none;
  font-size:0.8rem ;
  font-weight: bold;
  
  }
  .section_1 img{
    width: 60vw;
    margin: 1rem;
  }



  .section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    
  }
  .section-2 div:first-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
  }
  .section-2 div:first-of-type h3{
    font-size: 0.8rem;
  }
  .section-2 div:first-of-type h1{
    font-size: 2.5rem;
  }
  .section-2 div:last-of-type{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  
  .section-2 div:last-of-type div{
    width: 10rem;
    display: flex;
  background-color: white;
  align-items: flex-start;
    gap: 1rem;
    flex-direction: column;
  }
  .section-2 div:last-of-type div p{
    font-size: 0.7rem;
  }
  .section-2 div:last-of-type div button{
    width: 3rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: white;
    border:0.1rem solid  ;
  }






  .section-3-main{
  
    background-color: #f2f4f8;
    padding: 0.0rem;
    border-radius: 5rem;
  }
  .section-3{
    padding: 3rem;
    display: flex;
    justify-content: center;

    gap: 6rem;
   flex-wrap: wrap;
  
  }
  .section-3-first{
    display: flex;
    width: 13rem;
    flex-direction: column;
    gap: 2rem;
  }
  .section-3-first p:first-of-type {
    font-size: 0.8rem;
    color: cadetblue;
    font-weight: 600;
  
  }
  .section-3-first p:last-of-type{
    font-size: 0.8rem;
  }
  .section-3-first button{
    height:2.6rem;
    width: 12rem;
    align-self: flex-start;
    border-radius: 0.5rem;
    background-color: #10161e;
    color: white;
  }
  .section-3-first h1{
    font-size: 2rem;
  }
  .section-3-images{
    height: 400px;
    width: 100%;
    overflow: auto;
  }
  .section-3-images img{
    width: 100%;
  }
  hr{
    color:#dbdfe8 ;
    font-weight: bold;
  }
  .section-3-second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    gap: 3rem;
    background-color: #f2f4f8;
  }
  .section-3-second div:first-of-type{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
  
  }
  .section-3-second div:first-of-type h3{
    font-size: 0.8rem;
  color:#506af0;
  }
  .section-3-second div:first-of-type h1{
    font-size: 2.7rem;
    color: black;
  }
  .section-3-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
  }
  .section-3-card{
    width: 14rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border-radius: 1.4rem;
    padding: 1rem;
    border: none;
    box-shadow: 0 0 0.5rem 0.01rem rgba(0, 0, 0, 0.175) inset;
  transition-property: all;
  transition-duration: 0.2s;
  
  }
  .section-3-card:hover{
  transform: translatey(-0.2rem);
  box-shadow: 0 0 0.7rem 0.1rem rgba(0, 0, 0, 0.146);
  }
  .section-3-card:nth-of-type(3) button:first-of-type{
  color: orange;
  
  }
  .section-3-card:nth-of-type(4) button:first-of-type{
    color: orange;
    
    }
    .section-3-card:nth-of-type(5) button:first-of-type{
      color: orange;
      
      }
  
  .section-3-card p{
    font-size:0.8rem;
  }
  
  .section-3-card div{
    display: flex ;
    justify-content: space-between;
   
  }
  .section-3-card:hover button:last-of-type{
    background-color: #060f19;
    color: white;
    border: none;
  
  }
  .section-3-card div button:first-of-type{
    background-color: #f9f3fd;
    color: #d3a7ef;
    padding: 0.5rem;
    text-align: center;
    border-radius: 1rem;
    border: none;
  
  }
  
  .section-3-card div button:last-of-type{
    width: 2.8rem;
    border-radius: 0.7rem;
    border: 0.06rem solid ;
    background-color: transparent;
  }
  
  .section-3-card-last{
   justify-content: space-between;
  }
  .section-3-card-last div:last-of-type{
    display: flex;
    width: 100%;
    gap: 1rem;
  
    
  }
  .section-3-cards-second{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 3rem;
    padding-bottom: 5rem;
  }
  .section-3-cards-second div{
    display: flex;
    width: 15rem;
    flex-direction: column;
  padding: 0.2rem;
  gap: 1rem;
  justify-content: center;
  }
  
  .section-3-cards-second div img{
  margin: 0.1rem;
  }
  .section-3-cards-second div div h4{
    font-size: 1.2rem;
  }
  .section-3-cards-second div div p{
    font-size: 0.8rem;
  }
  .section-3-last{
   display: flex;
   justify-content: center;
   align-items: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
  gap: 3rem;
   padding: 1rem;
   
  }
  .section-3-last div:first-of-type{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
    width: 100%;
  }
  .section-3-last div:first-of-type h4{
    font-size: 0.8rem;
    color: #c3a082;
  
  }
  .section-3-last div:first-of-type h1{
    font-size: 2.3rem;
  }
  
  .section-3-last div:first-of-type p{
    font-size: 0.9rem;
  }
  .section-3-last div:first-of-type button{
    width: 13rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    padding: 1.2rem;
    background-color: #060f19;
    color: white;border-radius: 1rem;
    border: none;
  }
  .section-3-last div:last-of-type{
    width: 100%;
    padding: 1.4rem;
  }
  .section-3-last div:last-of-type img{
    width: 100%;
    border-radius: 50%;
  }




  .section-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 1rem;
    padding: 1rem;
    
  }
  .section-4 div:first-of-type{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
  }
  .section-4 div:first-of-type h1{
    font-size: 3rem;
  }
  .section-4 div:first-of-type p{
    font-size: 0.8rem;
  }
  .section-4 div{
    display: flex;
    flex-wrap: wrap;
    padding: 0.1rem;
    gap: 2rem;
    width: 100%;
  
  
  }
  .section-4 div img{
    width: 100%;
  }
  .section-4 div:nth-of-type(2){
  background-color: #e2f5ff;
  padding: 2rem;
  border-radius: 2rem;
  padding-top:2rem ;
  }
  .section-4 div:nth-of-type(3){
    background-color: #fff6e9;
    padding: 3rem;
    border-radius: 2rem;
    padding-top:2rem ;
  }
  .section-4 div:nth-of-type(4){
    gap: 4rem;
  }
  .section-4 div:nth-of-type(4) img{
    width: 100%;
  }
  
  .section-4 div div:first-of-type{
    align-items: flex-start;
  
  }
  
  
  
  .section-4-last{
    flex-direction: column;
    background-color: #060f19;
    color: white;
    border-radius: 2rem;
    width: 100%;
    padding: 4rem;
    
  }
  .section-4-last div{
  padding: 1rem;
  
  }
  .section-4-last img{

    width: 100%;
  }
  
  .section-4-second{
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;

    gap: 2rem;
  }
  .section-4-second div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 0.01rem solid #f1f4f8 ;
    border-radius:2.4rem;
    padding: 1rem;
  }
  .section-4-second div img{
    width: 10rem;
    border: none;
  }
  .section-4-second div div{
    border: none;
  }
  .section-4-second div div:last-of-type{
    gap: 1rem;
    background-color: transparent;
  
  }
  .section-4-second div button{
    width: 100%;
    padding: 1.2rem;
    border: none;
    font-size: 0.8rem;
    border-radius: 1rem;
    height: 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.7rem;
    background-color: #f2f9fe;
    align-self: center;
  }
  .section-4-second div:last-of-type button{
    background-color:#060f19;
    color: white;
  }
  .section-4-second div:last-of-type{
    background-color: #eae9ff;
  }
  .section-4-lastsection{
    display: flex;
    margin: 2rem;
    gap: 3rem;
    padding: 0.1rem;
    padding-bottom: 7rem;
    flex-wrap: wrap;
  }
  .section-4-lastsection div{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.9rem;
  
  }
  .section-4-lastsection div div{
    gap: 1rem;
  }
  .section-4-lastsection div div:first-of-type h4{
    color: orange;
    font-size: 0.9rem;
  
  }
  .section-4-lastsection div div:last-of-type{
    line-height: 1rem;
    font-size: 0.8rem;
  }
  .section-4-lastsection div img{
    width: 100%;
  }
  .section-4-lastsection div div h1{
    font-size:2.7rem ;
  }
  .section-4-lastsection div div p{
    font-size: 0.9rem;
  }
  .section-4-lastsection div button{
    align-self: flex-start;
    width: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    border-radius: 1rem;
    border: none;
    background-color: #060f19;
    color: white;
    font-size: 0.8rem;
    gap: 1rem;
  }


  .footer{
    display: flex;
    flex-direction: column;
    padding: 0.1rem;
    background-color: #060f19;
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
    color: white;
  }
  .footer-first-part{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 1rem;
    justify-content: center;
  }
  .footer-first-part div:first-of-type{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width:100%;
    padding: 1rem;
  
  }
  .footer-first-part div img{
    width: 100%;
  }
  .footer-first-part div:first-of-type h1{
    font-size: 2rem;
  }
  .footer-first-part div:first-of-type h4{
    font-size: 0.9rem;
  }
  .footer-first-part div:first-of-type p{
    font-size: 0.8rem;
  }
  .footer-first-part div:first-of-type div:last-of-type{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .footer-first-part div:first-of-type div:last-of-type button{
    width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    height: 2.3rem;
    border-radius: 0.7rem;
    font-weight: bold;
  }
  .footer-first-part div:first-of-type div:last-of-type button img{
    width: 1.4rem;
  }
  
  .footer-second-part{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.3rem;
    
    gap: 1rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  .footer-second-part div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.76rem;
    color: #d1d5db;
  }
  .footer-second-part div img{
    width: 10rem;
  }
  .footer-second-part ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: 0.9rem;
  }
  .footer-second-part ul li{
    color: #d1d5db;
    font-size: 0.8rem;
  }
  .footer-second-part ul li:hover{
    color: white;
  }
  .footer-last-part{
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    margin-top:1rem ;
  }
  .footer-last-part div:first-of-type{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footer-last-part div:first-of-type div{
    flex-direction: row;
  }
  .footer-last-part div:nth-of-type(2){
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footer-last-part div:last-of-type{
    display: flex;
    gap: 1rem;
    
  }
  .footer-last-part div:last-of-type button{
    width: 16rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 0.76rem;
  color: white;
  background-color: #151e28;
  }
  

  .section-5-first{
    height: auto;
    flex-direction: column;
    gap: 3rem;
  }
  .section-5-first div{
    width: 100%;
    gap: 1rem;

  }
  .section-5-first div h1{
    font-size: 2rem;
  }
  .section-5-first div p{
    font-size: 0.7rem;
  }
  .section-5-last{
    padding: 3rem;
  }
  .section-5-last button{
    top: 45rem;
    width:7rem;
  }
  .animation-div{
    width: 100%;
  }
  .animation-div div{
    width: 100%;
  }
  .animation-div div:nth-of-type(2){
    display: none;
  }
  
  .animation-div div:nth-of-type(3){
    display: none;
  }
}